

<!-- Zoeksectie -->
<section class="search-section">
  <!-- Verborgen H1  voor SEO en toegankelijkheid -->
  <h1 class="visually-hidden">Doorzoek de kunstcollectie</h1>
  
  <form class="search-form" action="#">
    <!-- Verborgen label voor toegankelijkheid -->
    <label for="search" class="visually-hidden">Zoek in de collecties</label>
    <div class="input-container">
      <!-- Zoekveld -->
      <input type="text" id="search" name="search" class="input" placeholder="Search the collections...">
    
      <!-- Zoekknop met icoon en toegankelijkheidslabel -->
      <button type="submit" class="icon" aria-label="Zoeken">
        <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
          <title>Zoek icoon</title>
          <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </form>


  <!-- Navigatie voor filters -->
  <nav class="filter-nav" aria-label="Filter navigatie">
    <ul>
      <li><a href="#">All Objects</a></li>
      <li><a href="#">Paintings</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Islamic Art</a></li>
      <li><a href="#">Contemporary Art</a></li>
    </ul>
  </nav>
</section>




<!-- Kunstgalerij -->
<section class="art-gallery">
  <ul>
    {% for artwork in artworks %}
      <li class="art-item">
        <figure class="art-figure">
          <!-- Afbeelding van het kunstwerk -->
          <a href="/detail/{{ artwork.id }}">
          <img src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" 
               alt="{{ artwork.title }}" 
               class="art-image">
        </a>
          
          <!-- Overlay met like- en admin-knoppen -->
          <figcaption class="overlay">
            <!-- Like Button met formulier -->
            <form action="/like" method="POST">
              <input type="hidden" name="artworkId" value="{{ artwork.id }}">
              <button type="submit" class="like-btn" aria-label="Like afbeelding">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="#E63946">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9 4.5C15.9 3 14.418 2 13.26 2c-.806 0-.869.612-.993 1.82-.055.53-.121 1.174-.267 1.93-.386 2.002-1.72 4.56-2.996 5.325V17C9 19.25 9.75 20 13 20h3.773c2.176 0 2.703-1.433 2.899-1.964l.013-.036c.114-.306.358-.547.638-.82.31-.306.664-.653.927-1.18.311-.623.27-1.177.233-1.67-.023-.299-.044-.575.017-.83.064-.27.146-.475.225-.671.143-.356.275-.686.275-1.329 0-1.5-.748-2.498-2.315-2.498H15.5S15.9 6 15.9 4.5zM5.5 10A1.5 1.5 0 0 0 4 11.5v7a1.5 1.5 0 0 0 3 0v-7A1.5 1.5 0 0 0 5.5 10z"/>
                </svg>
              </button>
            </form>


            <!-- Admin Button met SVG -->
            <a href="/admin-dashboard" class="admin-btn" aria-label="Ga naar adminpagina">
              <svg width="30" height="30" viewBox="0 0 512 512" fill="#1E3C72" xmlns="http://www.w3.org/2000/svg">
                <path d="M448,362.7l-117.3-21.3C320,320,320,310.7,320,298.7c10.7-10.7,32-21.3,32-32c10.7-32,10.7-53.3,10.7-53.3
                c5.5-8,21.3-21.3,21.3-42.7s-21.3-42.7-21.3-53.3C362.7,32,319.2,0,256,0c-60.5,0-106.7,32-106.7,117.3c0,10.7-21.3,32-21.3,53.3
                s15.2,35.4,21.3,42.7c0,0,0,21.3,10.7,53.3c0,10.7,21.3,21.3,32,32c0,10.7,0,21.3-10.7,42.7L64,362.7C21.3,373.3,0,448,0,512h512
                C512,448,490.7,373.3,448,362.7z"/>
              </svg>
            </a>
          </figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>
